.tile {
  box-sizing: border-box; 
  border-style: outset;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: center;
  /* border: 2px; */
  padding: 0px;
  cursor: pointer;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.flaggedCSS {

}

.exploredCSS {

}

.row {
    display: flex;
    flex-direction: column;
    
}

.board {
    display: flex;
    border: 1px solid black;
    width: 125px;
    height: 125px;
    margin: auto;
}

